.mat-card-actions, .mat-card-content, .mat-card-subtitle
{
    display:block;
}
.example-full-width
{
    width:100%;
}
.mat-card>.mat-card-actions:last-child
{
    margin:0;
    text-align: center;
}