<div class="topbar">
  <mat-toolbar>
      <div class="topbar-left">
          <div class="text-center">
              <a href="index.html" class="logo"><img src="assets/images/logo.png" alt="logo-img"></a>
              <a href="index.html" class="logo-sm"><img src="assets/images/logo_sm.png" alt="logo-img"></a>
          </div>
      </div>
      <!-- <button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button> -->
      <nav class="navbar navbar-default" role="navigation">
          <button mat-button >Menu</button>
      </nav>
     
      </mat-toolbar>
</div>